# WebStorm machine-dependent configuration files
.idea/dictionaries/
.idea/libraries/
.idea/Git.iml
.idea/jsLibraryMappings.xml
.idea/workspace.xml

# project-wide ignored files
node_modules/
coverage/
build/
