# WebStorm machine-dependent configuration files
.idea/dictionaries/
.idea/libraries/
.idea/*.iml
.idea/jsLibraryMappings.xml
.idea/workspace.xml
.idea/modules.xml

# project-wide ignored files
## Exclude all in build, except the testhtml folder
build/
coverage/
node_modules/
typings/
npm-debug.log
