a {
    font-family: Roboto,sans-serif;
}

p {
    font-family: Roboto,sans-serif;
    font-size: 12pt;
    font-weight: 300;
}

.row.center {
    margin-bottom: 10px;
}

#popupBody {
    min-width: 200px;
    min-height: 200px;
}

input[type="checkbox"]+label {
    color: rgba(0,0,0,0.87)
}

input[type="checkbox"]:disabled+label {
    opacity: 0.48;
}

input[type="checkbox"]:disabled+label:before {
    opacity: 0;
}

input[type="checkbox"]+label:before {
    transition(all .3s ease-in-out);
}
